

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body {
  background-color: rgba(243, 238, 238, 0.967);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.liste ul{
  width: 100%;
}


.categorie {
  display: flex;
  list-style: none;
  gap: 1rem;
  background-color: aliceblue;
}

.grille {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;

}

.grille li {
  text-decoration: none;
}

.dark-mode {
    background-color: black;
}

