


.productcard {
    background-color: rgb(225, 221, 217);
    width: 80%;
    max-width: 400px;
    padding: 1rem;
    border-radius: 20px;
    border: 1px solid black;
    box-sizing: border-box;
    color: black;
    display: flex;
    flex-direction: column;
}

.image-container {
  display: flex;
  gap: 0.5rem;
  overflow-x: auto;
}

.image-container img {
  border-radius: 12px;
  height: 180px;
  object-fit: cover;
  flex-shrink: 0;
}


.profil {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profil img {
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: 2px solid black;
}


.titre {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
}


.productcard h1 {
    color: black;
}
  
 
.boutons button {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  border: 2px solid black;
  cursor: pointer;
  background-color: orange;
  transition: color 0.2s;
}


.boutons {
  background-color: orange;
  display: flex;
  border: 2px solid black;
  gap: 0.5rem;
  flex-wrap: wrap;
}

.boutons button:hover {
    background-color: #f0f0f0;
}


@media (max-width: 450px) {

  .productcard {
    width: 50%;
  }
}