


.productcard {
    background-color: bisque;
    width: 45%;
    margin-left: 20%;
    border-radius: 20px;
    height: auto;
}

.image {
    display: flex;
    justify-content: center;
    width: 80%;
}